.all_container {
  position: relative; /* 确保子元素的定位是基于这个容器的 */
  width: 100vw;       /* 设置与视口宽度相同 */
  height: 100vh;      /* 设置与视口高度相同 */
  overflow: hidden;   /* 隐藏溢出部分 */
}

.midTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-align: center;
}

.location-fade {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  // backdrop-filter: blur(5px);
  padding: 10px 20px;
  border-radius: 10px;
  /* 添加横线 */
  &::after {
    content: '';
    position: absolute;
    bottom: -5px; /* 距离文字下方的距离 */
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* 横线的宽度 */
    height: 4px; /* 横线的高度 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
    border-radius: 5px; /* 羽化效果的边缘圆角 */
  }
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
}

.floatButtonGroup { 
  position: absolute;
  margin-top: 80vh;
  margin-left: 0vw;
}

.mainPanel {
  position: relative;
  margin-top: 0.5vh;
  height: 99vh;
  margin-left: 70vw;
  width: 30vw;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  border-radius: 10px;
  transition: transform 0.5s ease;
  
  .openButton {
    position: absolute;
    margin-left: 0.5vw;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.5s ease;

    &.opened {
      transform: rotate(270deg);
    }
  }

  &.slide-in {
    transform: translateX(28vw);
  }

  .scrollPanel {
    position: absolute;
    height: 50vh;
  }
}

.leftUpPanel
{

  // 位置
  position: absolute;
  width: 30vw;
  height: 38vh;
  margin-left:67vw;
  margin-top: 5vh;

  // 圆角
  border-radius: 10px;

  // 毛玻璃效果
  backdrop-filter: blur(5px);
  background: transparent;

  transition: transform 0.5s ease;

  &.slide-in {
    transform: translateX(29.7vw);
  }

}

.leftDownPanel
{
  // 位置
  position: absolute;
  width: 20vw;
  height: 35vh;
  margin-left: 77vw;
  margin-top: 60vh;

  // 圆角
  border-radius: 10px;

  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow:  -7px -7px 5px #bebebe,
              7px 7px 5px #ffffff;

  transition: transform 0.5s ease;

  &.slide-in {
    transform: translateX(19.7vw);
  }
}
